services:
  db:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    env_file:
    - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 10

  migrate:
    build:
      context: .
      dockerfile: migrate.Dockerfile
    container_name: goose_migrate
    depends_on:
     db:
      condition: service_healthy
    env_file:
      - .env
    volumes:
    - ./:/app

  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: telegram_bot
    depends_on:
      db:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
    env_file:
      - .env
    restart: unless-stopped
    command: ["/app/bot"]

volumes:
  postgres_data: