services:
  bot-init:
      image: busybox
      command: >
        sh -c "chown -R 65532:65532 /app/avatars"
      volumes:
        - avatars_data:/app/avatars
      networks:
        - backend
        
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: telegram_bot
    env_file:
      - .env
    restart: unless-stopped
    command: ["/app/bot"]
    volumes:
      - avatars_data:/app/avatars
    networks:
      - backend

volumes:
  avatars_data:

networks:
  backend:
    external: true